:root {
  --primary-color: #F875AA;
  --text-color: #fff;
  --vermelho: #db005b;
}

body {
  background-color: var(--text-color);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--primary-color);
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
  color: var(--text-color);
}

nav {
  text-align: center;
  margin-top: 20px;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: var(--text-color);
}

.container {
  padding: 20px;
  text-align: center;
}

.form-grupo {
  margin-bottom: 20px;
}

.form-grupo label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-grupo input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-grupo button {
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-grupo button:hover {
  background-color: #e7618e;
}

.form-grupo button[type="reset"] {
  margin-left: 10px;
  background-color: #ccc;
  color: #000;
}

.texto {
  padding: 20px;
  text-align: center;
  display: inline-flex;
}

.texto h2 {
  width: 222px;
  height: 108px;
  margin: 15px 5px 57px 500px;
  font-weight: 700;
  font-size: 80px;
  line-height: 192px;
  color: var(--vermelho);
}

.texto p {
  margin: 0 0 196px 150px;
  font-weight: 400;
  font-size: 25px;
}
